/*
    user styles
*/

body { 
	background:#eee; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.125em;
	color:#242424;
   margin: 0;  
   padding: 0;
}
/*===== header =====*/
header{   
	height:61px;
   width:99.7%;
	overflow:hidden;
   position:fixed;
   z-index:1; 
   margin-top:-20px;  
   border: 1px solid #eee;
   background:#118080;
}
	h1 {
		font-size:15px;
	   color:#fff;
		font-weight:normal;
		position:relative;
		left:10px;
   	top:-5px;
	}
   
	.container {
		position: absolute;
	   margin-top: -10px;
      height: 33px;
		width:100%;
		font-size:.8125em;
		overflow:hidden;
	   background:#ddd;
	}



/*===== nav =====*/
header nav {
	float:left;
   margin-top: -11px;
	margin-left:-37px;
}
		header nav ul li {
         list-style:none;
			float:left;
		}
			header nav ul li a {
				font-size:15px;
				color:#242424;
				height:28px;
				line-height:28px;
				text-decoration:none;
				width:80px;
				text-align:center;
				float:left;
				background:#fff;
				background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
				background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li a.current, header nav ul li a:hover {
			padding-bottom:5px;
		}
		
		header nav ul li:nth-of-type(2) a {
			background:#0184cd;
			background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li:nth-of-type(3) a {
			background:#7cbc19;
			background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li:nth-of-type(4) a {
			background:#ffbc00;
			background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li:nth-of-type(5) a {
			background:#f07502;
			background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}
		header nav ul li:nth-of-type(6) a {
			background:#d00110;
			background-image: gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -moz-linear-gradient(top, #ccffff, #77dddd); /* FF3.6 */
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #017bc8),color-stop(1, #018ed3)); /* Saf4+, Chrome */
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3'); /* IE6,IE7 */
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#017bc8', EndColorStr='#018ed3')"; /* IE8 */
		}

 a {
    color:#242424;
    text-decoration:none;
    }


/* tables */
.module, .usermodule, .add_module, .edit_module {
    border: 1px solid #ccc;
	 position:relative;
  	 top:65px;
	 width:300px;
    margin:20px;
    background: #fff;
    font-size: 15px;
}

.edit_module {
    width:950px;
}
.usermodule {
    width:700px;
}
.add_module {
  	 width:480px;
}

.errorlist {
    float:right;
    margin:0px 0px 0px 0px;
}
#id_name {
    float:left;
    margin:0px 0px 0px 0px;
}

.tables {
    background: #fff;
 	 width:100%;
}
 caption {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    background: #118080;
    color: white;
}
 .caption {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    background: #118080;
    color: white;
}
  .formfield {
   margin-top: 4px;
   margin-bottom: 3px;
}
.word {
    margin-left:15px;
    color: red;
}
.addsubmit{
    background: #118080;
    color: white;
}
/* change password */
.changepassword {
    border: 1px solid #ccc;
	 position:relative;
  	 top:120px;
  	 left:450px;
	 width:300px;
    margin: 20px;
    background: #fff;
    font-size: 15px;
}


/* ACTION ICONS */

.addlink {
    padding-left: 12px;
    margin:20px;
    background: url(../img/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 12px;
    background: url(../img/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 12px;
    background: url(../img/icon_deletelink.gif) 0 .2em no-repeat;
}

/* list */
thead {
    text-align: left;
}




/*--------------over----------------*/
